.classpath
.project
.settings/
.springBeans
/target/
/docs/api/
test.mv.db
test.trace.db
dependency-reduced-pom.xml
/.idea
*.iml
*.log
*.log.*
*.class
!/src/main/webapp/static/img/uploaded/DONOTDELETE.md
/src/main/webapp/static/img/uploaded/*


