<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaljali.mapper.HouseMapper">

    <insert id="create" parameterType="com.jaljali.domain.House"  keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
        INSERT  INTO
        house   (
                    id,
                    type,
                    title,
                    address,
                    price,
                    people,
                    content,
                    deleted,
                    creator,
                    created,
                    modifier,
                    modified
                ) VALUES (
                    #{id},
                    #{type},
                    #{title},
                    #{address},
                    #{price},
                    #{people},
                    #{content},
                    'N',
                    #{handler.creator},
                    #{handler.created},
                    #{handler.modifier},
                    #{handler.modified}
                )
    </insert>

    <update id="update" parameterType="com.jaljali.domain.House">
        UPDATE  house
        SET     type      = #{type},
                title     = #{title},
                address   = #{address},
                price     = #{price},
                people    = #{people},
                content   = #{content},
                modifier  = #{handler.modifier},
                modified  = #{handler.modified}
        WHERE   id        = #{id}

    </update>

    <update id="delete">
        UPDATE  house
        SET     deleted = 'Y'
        WHERE   id      = #{id}
    </update>

    <resultMap id="house" type="com.jaljali.domain.House">
        <id     property="id"           column="id"/>
        <result property="type"         column="type"/>
        <result property="title"        column="title"/>
        <result property="address"      column="address"/>
        <result property="price"        column="price"/>
        <result property="people"       column="people"/>
        <result property="content"      column="content"/>
        <result property="deleted"      column="deleted"/>
        <association property="handler" resultMap="com.jaljali.mapper.HandlerMapper.handler"/>
    </resultMap>

    <select id="reads" resultMap="house">
        SELECT  id,
                type,
                title,
                address,
                price,
                people,
                content,
                creator,
                created,
                modifier,
                modified
        FROM    house
        ORDER BY created DESC
    </select>

    <select id="read" resultMap="house">
        SELECT  id,
                type,
                title,
                address,
                price,
                people,
                content,
                creator,
                created,
                modifier,
                modified
        FROM    house
        WHERE   id    = #{id}
    </select>

</mapper>