<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaljali.mapper.PostMapper">

    <insert id="create" parameterType="com.jaljali.domain.Post">
        INSERT  INTO
        post    (
                    id,
                    title,
                    content,
                    deleted,
                    creator,
                    created,
                    modifier,
                    modified
                ) VALUES (
                    #{id},
                    #{title},
                    #{content},
                    'n',
                    #{creator},
                    #{created},
                    #{modifier},
                    #{modified}
                )
    </insert>

    <update id="update" parameterType="com.jaljali.domain.Post">
        UPDATE  post
        SET     title     = #{title},
                content   = #{content},
                modifier  = #{handler.modifier},
                modified  = #{handler.modified}
        WHERE   id        = #{id}

    </update>

    <update id="delete">
        UPDATE  post
        SET     deleted = 'y'
        WHERE   id      = #{id}
    </update>

    <resultMap id="post" type="com.jaljali.domain.Post">
        <id     property="id"           column="id"/>
        <result property="title"        column="title"/>
        <result property="content"      column="content"/>
        <result property="deleted"      column="deleted"/>
        <association property="handler" resultMap="com.jaljali.mapper.HandlerMapper.handler"/>
    </resultMap>

    <select id="reads" resultMap="post">
        SELECT  id,
                title,
                content,
                creator,
                created,
                modifier,
                modified
        FROM    post
    </select>

    <select id="read" resultMap="post">
        SELECT  id,
                title,
                content,
                creator,
                created,
                modifier,
                modified
        FROM    post
        WHERE   id    = #{id}
    </select>

</mapper>