

body {
    /*background-color: #faebcc;*/
    background-color: #ffffff;
}

div {
    width: 100%;
    padding: 0.25em;
}

tr {
    width: 100%;
    padding: 0.25em;
}

td {
    padding: 0.25em;
}

